<?xml version="1.0" encoding="UTF-8"?>   
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">   

<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/' >
    <!-- for debug -->
    <appender name="F" class="org.apache.log4j.DailyRollingFileAppender">
    		<param name="Encoding" value="UTF-8" />
    		<param name="Append" value="true"/>
    		<param name="DatePattern" value=".yyyy-MM-dd"/>
    		<param name="Threshold" value="DEBUG"/>
    		<param name="File" value="log/Debug/server.log"/>
    		<layout class="org.apache.log4j.PatternLayout">
    			<param name="ConversionPattern" value="%-25d %c %-5p %m %n"/>
    		</layout>
    </appender>   
    
    <!-- for mining -->
    <appender name="M" class="org.apache.log4j.DailyRollingFileAppender">
    		<param name="Encoding" value="UTF-8" />
    		<param name="Append" value="true"/>
    		<param name="DatePattern" value=".yyyy-MM-dd"/>
    		<param name="Threshold" value="DEBUG"/>
    		<param name="File" value="mining/log/debug.log"/>
    		<layout class="org.apache.log4j.PatternLayout">
    			<param name="ConversionPattern" value="%-25d %c [%-5p] %m %n"/>
    		</layout>
    </appender>
    
    <!-- for optimization (in mining) -->
    <appender name="OPT" class="org.apache.log4j.DailyRollingFileAppender">
    		<param name="Encoding" value="UTF-8" />
    		<param name="Append" value="true"/>
    		<param name="DatePattern" value=".yyyy-MM-dd"/>
    		<param name="Threshold" value="DEBUG"/>
    		<param name="File" value="mining/log/opt.log"/>
    		<layout class="org.apache.log4j.PatternLayout">
    			<param name="ConversionPattern" value="%-25d %c [%-5p] %m %n"/>
    		</layout>
    		<filter class="collab.fm.server.util.FeatureModelLogFilter">
    			<param name="Prefix" value="[opt]"/>
    		</filter>
    		<filter class="org.apache.log4j.varia.DenyAllFilter"/>
    </appender>
    
    <!-- for user activity -->
    <appender name="F2" class="org.apache.log4j.DailyRollingFileAppender">
    		<param name="Encoding" value="UTF-8" />
    		<param name="Append" value="true"/>
    		<param name="DatePattern" value=".yyyy-MM-dd"/>
    		<param name="Threshold" value="INFO"/>
    		<param name="File" value="log/Activity/activity.log"/>
    		<layout class="org.apache.log4j.PatternLayout">
    			<param name="ConversionPattern" value="%-25d %-5p %m %n"/>
    		</layout>
    		<filter class="collab.fm.server.util.FeatureModelLogFilter">
    			<param name="Prefix" value="[fm]"/>
    		</filter>
    		<filter class="org.apache.log4j.varia.DenyAllFilter"/>
    </appender>   
    
    <!-- for feature model progress -->
    <appender name="F3" class="org.apache.log4j.DailyRollingFileAppender">
    		<param name="Encoding" value="UTF-8" />
    		<param name="Append" value="true"/>
    		<param name="DatePattern" value=".yyyy-MM-dd"/>
    		<param name="Threshold" value="INFO"/>
    		<param name="File" value="log/FM/progress.log"/>
    		<layout class="org.apache.log4j.PatternLayout">
    			<param name="ConversionPattern" value="%m %n"/>
    		</layout>
    </appender> 
    
    <appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
    	<param name="Encoding" value="UTF-8" />
    	<param name="Threshold" value="INFO"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m %n"/>
		</layout>
	</appender>   
	
	<logger name="collab.fm.server">
		<level value="DEBUG"/>
	</logger>
	
	<logger name="collab.fm.mining" additivity="false">
		<level value="DEBUG"/>
		<appender-ref ref="STDOUT"/>
		<appender-ref ref="M"/>
		<appender-ref ref="OPT"/>
	</logger>
	
	<!-- Reporters only appends to F3 -->
	<logger name="collab.fm.server.stats" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="F3"/>
	</logger>
	
	<!-- Turn off third party loggings -->
	<logger name="org.apache.commons">
		<level value="OFF"/>
	</logger>
	<logger name="com.mchange.v2"> <!-- c3p0 connection pool -->
		<level value="OFF"/>    
	</logger>
	<logger name="net.sf.json"> <!-- JSON lib -->
		<level value="OFF"/>
	</logger>
	
	<logger name="org.hibernate" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="F"/>
	</logger>
	           
    <root>   
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="F"/>
        <appender-ref ref="F2"/>   
    </root>   
</log4j:configuration>