<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.timeout">300</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.idle_test_period">3000</property>
        
        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>
        
        <mapping resource="collab/fm/server/bean/persist/Comment.hbm.xml"/>
        <mapping resource="collab/fm/server/bean/persist/Element.hbm.xml"/>
        <mapping resource="collab/fm/server/bean/persist/ElementType.hbm.xml"/>
        <mapping resource="collab/fm/server/bean/persist/Model.hbm.xml"/>
        <mapping resource="collab/fm/server/bean/persist/User.hbm.xml"/>
        <mapping resource="collab/fm/server/bean/persist/Preference.hbm.xml"/>
        <mapping resource="collab/fm/server/bean/persist/PersonalView.hbm.xml"/>
        
        <mapping resource="collab/fm/server/bean/persist/entity/Entity.hbm.xml"/>
        <mapping resource="collab/fm/server/bean/persist/entity/EntityType.hbm.xml"/>
        <mapping resource="collab/fm/server/bean/persist/entity/AttributeType.hbm.xml"/>
        <mapping resource="collab/fm/server/bean/persist/entity/ValueList.hbm.xml"/>
        <mapping resource="collab/fm/server/bean/persist/entity/Value.hbm.xml"/>
        
        <mapping resource="collab/fm/server/bean/persist/relation/Relation.hbm.xml"/>
        <mapping resource="collab/fm/server/bean/persist/relation/RelationType.hbm.xml"/>
        
    </session-factory>
</hibernate-configuration>
